body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.nav {
  display: flex;
  gap: 0px 50px;
  margin-top: 15px;
  font-weight: bold;
  margin: 15px 40px 20px;
  margin-bottom: 15px;
}

.navitem {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.headerlogo {
  width: 185px;
  height: 20px;
  margin-top: 25px;
  margin-left: 35px;
}

.fisrtnavitem {
  font-size: 12px;
}

.lastnavitem {
  font-size: 10px;
}

.headerbutton {
  color: #fff;
  background-color: #f79214;
  border-radius: 100vh;
  text-decoration: none;
  font-size: 12px;
  padding: 10px 20px;
  cursor: pointer;
}

.imageleft {
  position: absolute;
}

.imageright {
  position: absolute;
  right: 0;
  top: 450px;
}

.imagecenter {
  position: absolute;
  left: -30px;
  top: 200px;
}

.imagemain {
  position: absolute;
  right: 0;
  width: 800px;
}

.imageitem {
  position: absolute;
  top: 130px;
  right: 650px;
}

.title {
  position: absolute;
  top: 280px;
  left: 350px;
}

.Viewbutton {
  color: #fff;
  background-color: #f79214;
  border-radius: 100vh;
  text-decoration: none;
  font-size: 16px;
  padding: 20px 100px;
  position: absolute;
  top: 450px;
  left: 340px;
}

.subtitle {
  position: absolute;
  top: 500px;
  left: 340px;
  font-size: 12px;
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 1080px) {
  .nav {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .imageright {
    display: none;
  }
}

.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
}
@media screen and (max-width: 1080px) {
  .hamburger-menu {
    display: block;
  }

  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #a2a2a4;
    position: absolute;
  }
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}
