body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 0px 50px;
  margin-top: 15px;
  font-weight: bold;
  margin: 15px 40px 20px;
  margin-bottom: 15px;
}

.navitem {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.headerlogo {
  width: 185px;
  height: 20px;
  margin-top: 25px;
  margin-left: 35px;
}

.fisrtnavitem {
  font-size: 12px;
}

.lastnavitem {
  font-size: 10px;
}

.headerbutton {
  color: #fff;
  background-color: #f79214;
  border-radius: 100vh;
  text-decoration: none;
  font-size: 12px;
  padding: 10px 20px;
}

.imageleft {
  position: absolute;
}

.imageright {
  position: absolute;
  right: 0;
  top: 450px;
}

.imagecenter {
  position: absolute;
  left: -30px;
  top: 200px;
}

.imagemain {
  position: absolute;
  right: 0;
  width: 800px;
}

.imageitem {
  position: absolute;
  top: 130px;
  right: 650px;
}

h1 {
  position: absolute;
  top: 280px;
  left: 350px;
}

.Viewbutton {
  color: #fff;
  background-color: #f79214;
  border-radius: 100vh;
  text-decoration: none;
  font-size: 16px;
  padding: 20px 100px;
  position: absolute;
  top: 450px;
  left: 340px;
}

p {
  position: absolute;
  top: 500px;
  left: 340px;
  font-size: 12px;
}
